@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Rubik:wght@500&display=swap');


body {
  margin: 0;
  background-image: linear-gradient(150deg, #f2cd5d, #11b5e4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
}



.Toastify__toast-theme--dark {
  background-color: #00000076 !important;
}