@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Rubik:wght@500&display=swap');

.signup {
    width: 500px;
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aa7bc3;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.signupform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aa7bc3;
    text-align: center;
}

.top {

    flex-direction: column;
}

.signupform input {
    background-color: #d9fff8;
    border-radius: 2rem;
    text-align: center;
    width: 20rem;
    height: 2rem;
    font-weight: bold;
    margin: 0;
}

.signupform .submit {
    background-color: #aa7bc3;
    font-weight: bold;
    width: 20rem;
    height: 2rem;
}




@media only screen and (max-width: 620px) {
    .signup {
        width: 80vw;
        padding: auto;
        margin: auto;
    }
}

@media only screen and (max-height: 680px) {
    .signup {
        height: 80vh;
        padding: auto;
        margin: auto;
    }
}